---
import Card from "@/components/Card.astro";
import Layout from "@/layouts/Layout.astro";
import { getBlogs } from "../../../sanity/utilis/sanity";

const posts = await getBlogs();
---

<Layout title="Blogs">
  <section class="grid gap-6grid-cols-1 md:grid-cols-2 lg:grid-cols-3 px-4 py-8 max-w-7xl mx-auto
  ">
    {posts.length ? posts.map((post) => 
    <Card title="blogs" data={post} />)
     : <h1 >aucuns blogs disponible...</h1>}
  </section>
</Layout>
