---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Welcome />
  <form action="api/send">
	<button type="submit">Send email</button>
  </form>
</Layout>