---
import Button from "./ui/Button.astro";
---

<section class="container mx-auto my-35 flex flex-col items-center gap-20 text-center">
    <h2 class="font-title text-[60px] font-black leading-[120%] -tracking-[1.2px] text-darkBlue">Des ateliers pour créer une vraie relation</h2>
    <div class="flex gap-8">
        <div class="flex flex-col justify-between gap-8 border border-lightGreen rounded-lg bg-lightBrown flex-1 p-10">
            <h5 class="text-darkBlue text-3xl font-bold leading-[130%]">Est-ce qu’un chien qui grogne est-il forcément agressif ou est-ce qu’il essaie de dire quelque chose ?</h5>
            <p class="text-2xl leading-[130%] text-darkBlue rounded-lg bg-green p-5">Il communique un malaise. Et c’est une chance qu’il le dise !</p>
        </div>
        <div class="flex flex-col justify-between gap-8 border border-lightGreen rounded-lg bg-lightBrown flex-1 p-10">
            <h5 class="text-darkBlue text-3xl font-bold leading-[130%]">Quand votre chien bâille ou se lèche les babines, vous pensez qu’il est fatigué ou gourmand ? </h5>
            <p class="text-2xl leading-[130%] text-darkBlue rounded-lg bg-green p-5">Souvent c’est parce qu’il est stressé ou mal à l’aise.</p>
        </div>
        <div class="flex flex-col justify-between gap-8 border border-lightGreen rounded-lg bg-lightBrown flex-1 p-10">
            <h5 class="text-darkBlue text-3xl font-bold leading-[130%]">Quand un chien se colle à nous, est-ce qu’il cherche vraiment des caresses ?</h5>
            <p class="text-2xl leading-[130%] text-darkBlue rounded-lg bg-green p-5">Il cherche juste du réconfort. Il a besoin d’espace et de calme</p>
        </div>
    </div>
    <div class="flex flex-col items-center gap-12">
        <h5 class="text-2xl text-darkBlue font-medium leading-[130%]">Grâce à nos ateliers et formations, vous apprendrez à comprendre les besoins réels des chiens pour préparer une adoption réfléchie et durable.</h5>
        <Button src="" text="Découvrir nos ateliers" type="primary" icon="arrow" />
    </div>
</section>