---
import Button from "./ui/Button.astro";
---

<div class="relative p-28 bg-beige z-10">
  <img src="/svg/dogs/big-dog.svg" class="absolute right-0 top-0 overflow-x-hidden -z-10">
  <section class=" container mx-auto px-4 pt-72 flex justify-between gap-16">
  <div class="space-y-5 z-10">
    <h2 class="h2">Vous vous posez des questions ?</h2>
    <p>C’est normal, et c’est même bon signe. Voici les réponses aux interrogations les plus fréquentes.</p>
    <Button src="/ee" text="En savoir plus" />
  </div>
</section>
</div>
