<details>
    <summary>
        Cadre de vie et environnement 1
    </summary>
    <label for="majeur">Êtes-vous majeur ?</label>
    <div>
        <input type="radio" name="majeur">
        <label for="majeur">Oui</label>
    </div>
    <div>
        <input type="radio" name="majeur">
        <label for="majeur">Non</label>
    </div>
    <label for="majeur">Êtes-vous majeur ?</label>
    <div>
        <input type="radio" name="logement">
        <label for="majeur">Appartement</label>
    </div>
    <div>
        <input type="radio" name="logement">
        <label for="majeur">Maison avec jardin</label>
    </div>
    <div>
        <input type="radio" name="logement">
        <label for="majeur">Maison sans jardin</label>
    </div>
</details>