<footer class="container mx-auto mt-auto flex flex-col gap-12">
    <div class="flex flex-col lg:flex-row gap-8 lg:gap-30 w-full bg-darkBlue p-8 lg:px-20 lg:py-18 rounded-2xl">
        <div class="flex flex-col gap-6 flex-1">
            <h3 class="text-5xl text-white font-title font-bold leading-[110%] -tracking-[0.96]">Alors, toujours partant pour changer une vie ?</h3>
            <ul class="flex gap-4">
                <li>
                    <a href="/">
                        <img src="/svg/instagram.svg" alt="Logo Instagram">
                    </a>
                </li>
                <li>
                    <a href="/">
                        <img src="/svg/linkedin.svg" alt="Logo Linkedin">
                    </a>
                </li>
                <li>
                    <a href="/">
                        <img src="/svg/facebook.svg" alt="Logo Facebook">
                    </a>
                </li>
            </ul>
        </div>
        <div class="flex flex-col gap-6 flex-1">
            <h5 class="text-white text-lg font-semibold leading-[24px]">S’inscrire à la newsletter*</h5>
            <form action="" class="flex gap-2">
                <div class="relative bg-white rounded-lg w-full">
                    <input type="email" placeholder="olivia@untitledui.com" class="py-2.5 pl-10.5 pr-3.5 rounded-lg w-full leading-[130%] placeholder:text-lightGrey">
                    <img src="/svg/mail.svg" alt="" class="absolute top-1/2 left-3.5 -translate-y-1/2">
                </div>
                <button type="submit" class="flex items-center gap-2 py-2 px-3.5 rounded-lg bg-blue text-darkBlue min-w-fit font-bold leading-[130%] cursor-pointer">
                    Envoyer
                    <img src="/svg/arrow-right-dark.svg" alt="">
                </button>
            </form>
            <p class="text-xs leading-[130%] text-lightBlue">*En renseignant votre email, vous acceptez de recevoir nos communications. Désinscription possible à tout moment. <a href="/" class="underline">Politique de confidentialité</a></p>
        </div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-12">
        <div class="col-span-1 flex items-center">
            <img src="/svg/logo-footer.svg" alt="Logo Refuge Canin Solidaire">
        </div>
        <nav class="grid grid-cols-1 lg:grid-cols-3 col-span-2 gap-8 lg:gap-20">
            <div class="flex flex-col gap-8">
                <h5 class="text-xl font-bold leading-[130%] text-darkBlue">Pages utiles</h5>
                <ul class="flex flex-col gap-4">
                    <li>
                        <a href="/" class="relative footer-link text-lightGrey font-medium leading-[130%]">Urgences & numéros utiles</a>
                    </li>
                    <li>
                        <a href="/" class="relative footer-link text-lightGrey font-medium leading-[130%]">Actualités</a>
                    </li>
                    <li>
                        <a href="/" class="relative footer-link text-lightGrey font-medium leading-[130%]">Guide d’adoption</a>
                    </li>
                    <li>
                        <a href="/" class="relative footer-link text-lightGrey font-medium leading-[130%]">Nos partenaires</a>
                    </li>
                    <li>
                        <a href="/" class="relative footer-link text-lightGrey font-medium leading-[130%]">FAQ</a>
                    </li>
                </ul>
            </div>
            <div class="flex flex-col gap-8">
                <h5 class="text-xl font-bold leading-[130%] text-darkBlue">Nous soutenir</h5>
                <ul class="flex flex-col gap-4">
                    <li>
                        <a href="/" class="relative footer-link text-lightGrey font-medium leading-[130%]">Faire un fon</a>
                    </li>
                    <li>
                        <a href="/" class="relative footer-link text-lightGrey font-medium leading-[130%]">Devenir bénévole</a>
                    </li>
                    <li>
                        <a href="/" class="relative footer-link text-lightGrey font-medium leading-[130%]">Parrainer un chien</a>
                    </li>
                    <li>
                        <a href="/" class="relative footer-link text-lightGrey font-medium leading-[130%]">Entreprises & mécènes</a>
                    </li>
                    <li>
                        <a href="/" class="relative footer-link text-lightGrey font-medium leading-[130%]">Boutique solidaire</a>
                    </li>
                </ul>
            </div>
            <div class="flex flex-col gap-8 text-darkBlue">
                <h5 class="text-xl font-bold leading-[130%]">Nous contacter</h5>
                <ul class="flex flex-col gap-4">
                    <li class="flex gap-4">
                        <img src="/svg/phone-footer.svg" alt="">
                        <a href="tel:0600000000" class="relative footer-link w-fit font-bold leading-[130%]">
                            06 00 00 00 00
                        </a>
                    </li>
                    <li class="flex gap-4">
                        <img src="/svg/mail-footer.svg" alt="">
                        <a href="mailto:refugecaninsolidaire@gmail.com" class="relative footer-link break-all w-fit font-bold leading-[130%]">
                            refugecaninsolidaire@gmail.com
                        </a>
                    </li>
                    <li class="flex gap-4">
                        <img src="/svg/rocket-footer.svg" alt="">
                        <a href="/" class="relative footer-link w-fit font-bold leading-[130%]">
                            XX Mcallister St, Gironde, 33000
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="flex flex-col lg:flex-row justify-center gap-4 lg:gap-2 py-4 lg:p-6 text-secondLightGrey">
        <p>© Refuge Canin Solidaire – Association loi 1901 | Tous droits réservés</p>
        <span class="hidden lg:block">|</span>
        <a href="/">Politique de confidentialité</a>
        <span class="hidden lg:block">|</span>
        <a href="/">Mentions légales</a>
        <span class="hidden lg:block">|</span>
        <a href="/">Cookies</a>
    </div>
</footer>