<footer class="container mx-auto mt-auto">
    <div class="flex gap-20 w-full bg-blue-900 px-20 py-18 rounded-2xl">
        <div class="flex flex-col gap-6 flex-1">
            <h3 class="text-5xl text-white font-bold">Alors, toujours partant pour changer une vie ?</h3>
            <ul class="flex gap-4">
                <li>
                    <a href="">
                        <img src="/svg/instagram.svg" alt="Logo Instagram">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="/svg/linkedin.svg" alt="Logo Linkedin">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="/svg/facebook.svg" alt="Logo Facebook">
                    </a>
                </li>
            </ul>
        </div>
        <div class="flex flex-col gap-6 flex-1">
            <h5 class="text-white">S’inscrire à la newsletter*</h5>
            <form action="" class="flex gap-2">
                <div class="relative bg-white rounded-lg">
                    <input type="email" placeholder="olivia@untitledui.com" class="py-2.5 pl-10.5 pr-3.5 rounded-lg">
                    <img src="/svg/mail.svg" alt="" class="absolute top-1/2 left-3.5 -translate-y-1/2">
                </div>
                <button type="submit" class="flex items-center gap-2 py-2 px-3.5 rounded-lg">
                    Envoyer
                    <img src="/svg/arrow-right.svg" alt="">
                </button>
            </form>
            <p class="text-white">*En renseignant votre email, vous acceptez de recevoir nos communications. Désinscription possible à tout moment. <a href="" class="underline">Politique de confidentialité</a></p>
        </div>
    </div>
    <div class="grid grid-cols-3">
        <div class="col-span-1 flex items-center">
            <img src="/svg/logo-footer.svg" alt="Logo Refuge Canin Solidaire">
        </div>
        <nav class="grid grid-cols-3 col-span-2 gap-20">
            <div class="flex flex-col gap-8">
                <h5 class="text-xl font-bold">Pages utiles</h5>
                <ul class="flex flex-col gap-4">
                    <li>
                        <a href="">Urgences & numéros utiles</a>
                    </li>
                    <li>
                        <a href="">Actualités</a>
                    </li>
                    <li>
                        <a href="">Guide d’adoption</a>
                    </li>
                    <li>
                        <a href="">Nos partenaires</a>
                    </li>
                    <li>
                        <a href="">FAQ</a>
                    </li>
                </ul>
            </div>
            <div class="flex flex-col gap-8">
                <h5 class="text-xl font-bold">Nous soutenir</h5>
                <ul class="flex flex-col gap-4">
                    <li>
                        <a href="">Faire un fon</a>
                    </li>
                    <li>
                        <a href="">Devenir bénévole</a>
                    </li>
                    <li>
                        <a href="">Parrainer un chien</a>
                    </li>
                    <li>
                        <a href="">Entreprises & mécènes</a>
                    </li>
                    <li>
                        <a href="">Boutique solidaire</a>
                    </li>
                </ul>
            </div>
            <div class="flex flex-col gap-8">
                <h5 class="text-xl font-bold">Nous contacter</h5>
                <ul class="flex flex-col gap-4">
                    <li>
                        <a href="tel:0600000000" class="flex gap-4">
                            <img src="/svg/mail.svg" alt="">
                            06 00 00 00 00
                        </a>
                    </li>
                    <li>
                        <a href="mailto:refugecaninsolidaire@gmail.com" class="flex gap-4">
                            <img src="/svg/mail.svg" alt="">
                            refugecaninsolidaire@gmail.com
                        </a>
                    </li>
                    <li>
                        <a href="" class="flex gap-4">
                            <img src="/svg/mail.svg" alt="">
                            XX Mcallister St, Gironde, 33000
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</footer>