<header>
    <nav class="w-full h-10 bg-red">
        <ul class="flex gap-6 justify-center items-center h-full px-4">
            <li><a href="/" class="text-white">Home</a></li>
            <li><a href="/about" class="text-white">About</a></li>
            <li><a href="/contact" class="text-white">Contact</a></li>
        </ul>
    </nav>
</header>