---
import Button from "./ui/Button.astro";

const partnerCount = 4;
const partners = Array.from({ length: partnerCount }, (_, i) => i + 1);
---

<section class="container m-auto py-64 flex flex-col gap-9 justify-center items-center">
    <div class="flex justify-between items-center w-full">
        <div class="flex items-center">
            <img src="img/logo-dog.png">
            <a href="https://www.instagram.com/refuge_canin_solidaire/" target="_blank" >@refuge_canin_solidaire</a>
        </div>
        <Button src="/" text="Nous suivre"/>
    </div>
  
  <div class="grid grid-cols-4 gap-12">
    {partners.map((num) => {
      return (
        <img 
          src={`/img/instagram/instagram-${num}.png`} 
          alt={`Instagram Post ${num}`} 
          class="w-full"
        />
      );
    })}
  </div>
</section>
