---
import CardAdoptedDog from "@/components/ui/CardAdoptedDog.astro";
import "swiper/css";

const adoptedDogs = [
	{ name: "Max", master: "Jean" },
	{ name: "Bella", master: "Marie" },
	{ name: "Charlie", master: "Pierre" },
	{ name: "David", master: "Séb" },
	{ name: "Malika", master: "Stef" },
	{ name: "LuluBerlu", master: "Luc" },
];
---

<div class="container-grid py-44">
  <h2 class="h2">Les derniers adoptés</h2>
  <div class="flex justify-between items-start mb-8">
    <p class="max-w-2xl">Ils ont trouvé leur famille pour la vie.</p>
    <div class="flex gap-2">
      <button class="cursor-pointer transition-all swiper-button-prev rotate-180 w-12 h-12 border border-transparent hover:border-blue text-white bg-blue hover:bg-white rounded-xl flex items-center justify-center group">
        <img src="/svg/arrow-right-dark.svg">
      </button>
      <button class="cursor-pointer transition-all swiper-button-next  w-12 h-12 border border-transparent hover:border-blue text-white bg-blue hover:bg-white rounded-xl flex items-center justify-center group">
        <img src="/svg/arrow-right-dark.svg">
      </button>
    </div>
  </div>

  <div class="swiper">
    <div class="swiper-wrapper">
      {adoptedDogs.map((dog) => (
        <div class="swiper-slide">
          <CardAdoptedDog name={dog.name} master={dog.master} />
        </div>
      ))}
    </div>
  </div>
</div>

<script>
  import Swiper from 'swiper';
  import { Navigation } from 'swiper/modules';

  const swiperConfig = {
    modules: [Navigation],
    loop: true,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    slidesPerView: 3,
    spaceBetween: 30,
    breakpoints: {
      640: {
        slidesPerView: 1,
        spaceBetween: 20,
      },
      768: {
        slidesPerView: 3,
        spaceBetween: 30,
      },
    },
  };

  const swiper = new Swiper('.swiper', swiperConfig);
</script>