---
import { getThreeDogs } from "../../sanity/utilis/sanity";
import CardsDogs from "@/components//CardsDogs.astro";
import Button from "./ui/Button.astro";
import { string } from "astro:schema";

interface Props {
	title: string;
	btnLink: string;
	btnText: string;
}

const { title, btnLink, btnText } = Astro.props;

const dogs = await getThreeDogs();
---


  <section class="container mx-auto py-36">
    <div class="flex justify-between items-center">
        <h2 class="h2">{title}</h2>
        <Button src={btnLink} text={btnText}></Button>
    </div>
        <div class="grid gap-6 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 px-4 py-8">
          {dogs.map((dog) => (
            <CardsDogs data={dog} />
          ))}
        </div>
      </div>
  </section>
