<section>
	<h1 class="font-title text-3xl font-bold text-gold text-center mt-6">Refuge Canin Solidaire</h1>
	<h1 class="text-gold text-center mt-6">Refuge Canin Solidaire</h1>
	<h1 class="font-variant text-gold text-center mt-6">Refuge Canin Solidaire</h1>
</section>
